<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>회원가입 페이지 </title>
    <div th:replace="/mise/fragments/header.html :: header-fragment">...</div>

</head>
<body>
<div th:replace="/mise/fragments/navbar.html :: navbar-fragment">...</div>
</div>

<form th:action="@{/enroll}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Password: <input type="password" name="matchingPassword"/> </label></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>

</body>
</html>