<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <div th:replace="/mise/fragments/header.html :: header-fragment">...</div>
</head>
<body>
<div th:replace="/mise/fragments/navbar.html :: navbar-fragment">...</div>

<h3>welcome. This website provides fine dust information of south korea.</h3>

<!--<script th:inline="javascript">-->
<!--    if (sessionStorage.jwt != null) {-->
<!--        const url = $('#miseMainNavbar').attr('href');-->
<!--        $('#miseMainNavbar').attr('href', url + '?jwt=' + sessionStorage.jwt);-->

<!--        const username = await fetch('/username', {-->
<!--            method: 'GET'-->
<!--        }).then(response => response.json());-->

<!--        $('#loginButton').text(username);-->
<!--    }-->
<!--</script>-->
</body>
</html>