<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>로그인 페이지 </title>
    <div th:replace="/mise/fragments/header.html :: header-fragment">...</div>

</head>
<body>
<div th:replace="/mise/fragments/navbar.html :: navbar-fragment">...</div>

<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
</div>

<!--<form th:action="@{/processLogin}" method="post">-->
<form id="loginForm">
    <div><label> User Name : <input type="text" id="username" name="username"/> </label></div>
    <div><label> Password: <input type="password" id="password" name="password"/> </label></div>
    <div><input type="submit" id="submitButton" value="Sign In"/></div>
</form>


<!--<script>-->
<script th:inline="javascript">
    // const loginForm = $("#loginForm");
    const submitButton = $("#submitButton");

    submitButton.on("click", async function (e) {
        e.preventDefault();

        const formdata = {
            username: $('#username').val(),
            password: $('#password').val()
        };

        const jwt = await fetch(`/processLogin?username=${formdata.username}&password=${formdata.password}`)
            .then(response => {
                console.log(response.headers)
                if (response.ok) return response.headers.get("jwt");
                else return null;

            })
            .then(response => {
                sessionStorage.setItem("jwt", response);
                alert('you are signed in. token is issued.');
                window.location.href = '/mise/main?jwt=' + response;
            });


        // const jwt = await fetch("/processLogin", {
        //     method: "POST",
        //     // contentType: 'application/json; charset=utf-8',
        //     headers: {
        //         'Accept': 'application/json',
        //         "Content-Type": "application/json"
        //     },
        //
        //     data: JSON.stringify({
        //         'user': {
        //             "username" : "aaa",
        //             "password": "1111"
        //         }
        //     })
        //
        // }).then(response => {
        //     // alert('you are signed in. and token is issued.');
        //     // window.location.href = '/';
        //
        //     if (response.ok) return response.json();
        //     else return null;
        // }).catch(error => null);


    });

</script>

</body>
</html>